body { 
  margin: 10px;
  padding: 10px;
  background-color: #f8f1db;
}
canvas {
  display: block;
  margin: 0 auto;
  background-color: #6f664a;
  outline: 10px solid #4a3f2f;
}
h1 {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #4a3f2f;
}
div {
  text-align: center;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #4a3f2f;
  display: inline-block;
  margin: 0 60px;
}